{% block head_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block header %}

<div>
    <nav class="navbar navbar-brand">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/products">Liste des produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/products/create">Créer un nouveau produit</a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}

{% block body %}
<style>
    .products-list { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="products-list">
<h1>Liste des produits</h1>
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
     {% for product in products %}
     <tr>
        <td><a href="/admin/products/{{product.getId()}}">{{ product.getName()}}</a></td>
        <td>{{ product.getDescription()}}</td>
        <td><b>Prix: {{ product.getPrice()}} €</b></td>
        <td>
            <button class="btn btn-primary" onclick="window.location.href='/admin/products/{{product.getId()}}'">Modifier</button>
            <button class="btn btn-danger" onclick="window.location.href='/admin/products/{{product.getId()}}/delete'">Supprimer</button>
        </td>
    </tr>
 {% endfor %}
    </tbody>
 </table>
</div>
{% endblock %}